@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 9999;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(./img/background.jpg);
    background-size: cover; /* Alteração aqui */
    background-position: center; /* Alteração aqui */
    width: 100%;
    min-height: 100vh;
    position: relative;
}




header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    position: relative;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

nav a {
    color: #fff;
    font-size: 14px;
}

nav a:hover {
    color: #767a78;
    transition: 0.3s all;
}

.logo i {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #767a78;
    color: #767a78;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    -contentjustify: center;
    font-size: 13px;
    cursor: pointer;
}

.logo h1 {
    font-size: 24px; /* Aumentando o tamanho da fonte do título */
}

button {
    color: #767a78;
    background: transparent;
    border: solid 1px #767a78;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #767a78;
    color: #fff;
    transition: 0.5s;
}
.container-text {
    background-color: rgba(10, 10, 10, 0.1);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;
}

.content-box {
    width: 45%;
    margin: 20px auto;
    padding: 600px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.content-box h2 {
    font-size: 24px;
    color: #33333395;
    margin-bottom: 20px;
}



.content-box p {
    color: #333333db;
    margin-bottom: 15px;
    font-size: 16px;
}

.content-box ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.content-box ul li {
    margin-bottom: 5px;
    color: #333333db;

}

footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
}

/* Adaptações específicas para o layout da página Sobre Nós */
.text-box {
    background-color: rgba(255, 255, 255, 0.5);
    color: #605f5f;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.text-box ul li {
    margin-bottom: 8px;
}


.content-box {
    width: 90%; /* Reduzindo a largura para 90% para evitar o overflow */
    margin: 20px auto;
    padding: 30px; /* Ajustando o padding para espaçamento interno */
    background-color: rgba(255, 255, 255, 0.8); /* Alterando a cor de fundo para uma cor mais clara */
    border-radius: 10px;
    text-align: justify; /* Alinhando o texto justificado */
}

.content-box h2 {
    font-size: 24px;
    color: #333; /* Alterando a cor do texto para preto */
    margin-bottom: 10px; /* Reduzindo a margem inferior dos títulos */
}


.content-box p {
    color: #555; /* Alterando a cor do texto para um cinza mais escuro */
    margin-bottom: 15px;
    font-size: 15px;
}

.content-box ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.content-box ul li {
    margin-bottom: 5px;
}

.content-box img {
    display: block; /* Garantindo que as imagens sejam exibidas como blocos */
    margin: 20px auto; /* Centralizando as imagens */
    max-width: 40%; /* Garantindo que as imagens não ultrapassem a largura do contêiner */
    border-radius: 10px; /* Adicionando borda arredondada às imagens */
}





.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: calc(50% - 20px); /* 50% do espaço menos uma margem de 20px */
    padding-right: 20px;
}

.image {
    width: calc(50% - 20px); /* 50% do espaço menos uma margem de 20px */
    padding-left: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}




.section.reverse {
    flex-direction: row-reverse; /* Inverte a ordem dos elementos filhos */
}




.content-box h3 {
    font-size: 15px; /* Tamanho menor para os títulos dos valores */
}







